<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

    <appSettings>
        <add key="MAIN_LOOP_INTERVAL" value="666"/>
        <add key="TORRENT_PARALLEL_LIMIT" value="99"/>
        <add key="TORRENT_STOP_TIMEOUT" value="3"/>
        <add key="TORRENT_OUTPUT_PATH" value="c:\tmp_out\"/>
        <add key="DB_URL" value="mongodb://127.0.0.1:27017/tor"/>
        <add key="DB_NAME" value="tor"/>
        <add key="DB_COLLECTION_NAME" value="torrsv1"/>
        <add key="TMP_SAVE_DIR" value=".\tmp_dld\"/>
        <add key="MAGNET_PREFIX" value="magnet:?xt=urn:btih:"/>

        <!-- hashes DB -->
        <add key="SDB_URL" value="c:\tmp1\MTorr.db"/>
        
        <!-- already downloaded torrents -->
        <add key="SDB_DLD_URL" value="c:\tmp1\MTorrLL.db"/>

    </appSettings>
</configuration>
