<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

    <appSettings>
        <add key="DEBUG_MODE" value="false"/>

        <add key="TORR_EXT_WILDCARD" value="*.torrent"/>
        <add key="TORR_HASH_EXT_WILDCARD" value="*.torrhash"/>
        <add key="TORR_ARCHIVE_DIR" value="m:\dldz\TORR_ARCHIVED\arc\"/>
        <add key="TORR_ARCHIVE_DIR_CONFIG" value="what1 ; what2; / m:\dldz\TORR_ARCHIVED\arc_whatA\ | what3 ; what4 / m:\dldz\TORR_ARCHIVED\arc_whatB\ "/>
        <add key="TORR_ARCHIVE_DIR_OLD" value="m:\dldz\TORR_ARCHIVED\arc_old\"/>
        <add key="TORR_ARCHIVE_REG" value="m:\dldz\TORR_ARCHIVED\!!!!_torrs.lst"/>
        <add key="TORR_ARCHIVE_FILES_REG" value="m:\dldz\TORR_ARCHIVED\!!!!_torrs_files.lst"/>
        
        <!-- where to copy torrent files for auto-import from client -->
        <add key="TORR_INCOMING_DIR" value="m:\dldz\BIGLY_ZTOR_INCOMING\"/>

        <!-- already downloaded torrents -->
        <add key="SDB_DLD_URL" value="c:\dldz\TORR_DBS\MTorrLL.db"/>

    </appSettings>
</configuration>
