<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>

    <appSettings>
        <add key="TORR_EXT_WILDCARD" value="*.torrent"/>
        <add key="TORR_ARCHIVE_DIR" value="x:\torr_archived\arc\"/>
        <add key="TORR_ARCHIVE_DIR_OLD" value="x:\torr_archived\arc\old\"/>
        <add key="TORR_ARCHIVE_REG" value="x:\torr_archived\!!!!_torrs.lst"/>
        <add key="TORR_ARCHIVE_FILES_REG" value="x:\torr_archived\!!!!_torrs_files.lst"/>
        <add key="TORR_INCOMING_DIR" value="x:\torr_incoming\"/>
        
        <!-- already downloaded torrents -->
        <add key="SDB_DLD_URL" value="c:\tmp1\MTorrLL.db"/>
        
    </appSettings>
</configuration>
