<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="FILE_WHERES" value="wheres.txt"/>
        <add key="FILE_MATCHERS" value="matchers.csv"/>
        <add key="FILE_MIN_SIZE_MB" value="100"/>
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
